.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 20px;

  }

  .ContainerLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh -80px);

  }

  /* FORMS */
.main {
    min-height: 30vh;
    padding: 10px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.uploadPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 20px;
  }
  
  .CreatePost {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh -80px);
  }



/*******************************FORMULARIO **********************************/

  .inputText {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
}

.caja {
  margin:20px auto 40px auto;	
  border:1px solid #d9d9d9;
  height:40px;
  overflow: hidden;
  width: 230px;
  position:relative;
}


.caja::after{
 content:"\025be";
 display:table-cell;
 padding-top:7px;
 text-align:center;
 width:30px;
 height:40px;
 background-color:#d9d9d9;
 position:absolute;
 top:0;
 right:0px;	
 pointer-events: none;
}