.ContainerMiniList{
    width: 100%;
    height: 30vh;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
    text-align: center;
    padding: 20px;
}
.ContainerMiniList ul{
    list-style-type: none;
}

.Lista{
    width: 100%;
    align-items: center;
    background: #ffffffaa;
    border: 1px solid red;
    border-bottom: 1px solid #eee;
    display: grid;
    top: 20px;
    height: fit-content;
    justify-content: space-around;
    margin: 0 auto;
    left: 0;
}
.ContainerItemLista{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    border: 1px solid rgb(4, 0, 255);
}
.ItemLista{
    padding: 10px;
    border: 1px solid rgb(183, 0, 255);
    width: fit-content;
}
.ContainerDataList{
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid rgb(29, 187, 8);
    width: 100%;
}



