/* FORMS */
.main {
    min-height: 30vh;
    padding: 10px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.uploadPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 20px;
  }
  
  .CreatePost {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh -80px);
  }
  header {
    align-items: center;
    background: #ffffffaa;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #eee;
    height: 49px;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
  } 

  .mini-list{
    width: 100%;
    height: auto;
    padding: 1rem 0;
    flex: 1;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(1, .1, .1, .1);
  }

/*******************************FORMULARIO **********************************/

  .inputText {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
}

.caja {
  margin:20px auto 40px auto;	
  border:1px solid #d9d9d9;
  height:40px;
  overflow: hidden;
  width: 230px;
  position:relative;
}
 select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 40px;
  padding: 5px;
  width: 250px;
}
select:focus{ outline: none;} 

.caja::after{
 content:"\025be";
 display:table-cell;
 padding-top:7px;
 text-align:center;
 width:30px;
 height:40px;
 background-color:#d9d9d9;
 position:absolute;
 top:0;
 right:0px;	
 pointer-events: none;
}