@font-face {
  font-family: "Kastelov";
  src: url("./fonts/Kastelov\ -\ Axiforma\ ExtraBold.otf");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Kastelov' bold;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
